:root{
    --primary-color: #0088a9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: 'Red Rose', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo{
    cursor:pointer;
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0 20px;
}

.nav li a{
    transition:all 0.3 ease 0s;
}

.nav li a:hover{
    color: var(--primary-color);
}

button{
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

/* Cronograma */

h2{
    margin: 50px 20px 50px 90px;
    color: #ffffff;
}

.curse-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-color: rgba(255, 255, 255, 0.1);
    display:inline;
    margin-left: 70px;
}

.margin-left{
    margin-left: 25% !important;
}

.meta-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-color: rgba(255, 255, 255, 0.);
    margin: 40px auto;
    color: #ffffff;
}

.curse-table thead th, .meta-table thead th{
    background-color:var(--primary-color);
    padding: 10px 50px;
    color: #ffffff;
    text-align: center;
}

.curse-table tbody th, .meta-table tbody th {
    padding: 10px 50px;
    color: #ffffff;
}